.container {
    margin-top: 20px;
}

.form-control:focus {
    box-shadow: none;
    border-color: #10b981;
}

.error-alert {
    margin-top: 5px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

label {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}
body {
    background-color: #1a2530;
}
input[type="text"],
input[type="search"] {
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    padding: 10px 0;
}

input[type="text"]:focus,
input[type="search"]:focus {
    outline: none;
    border-color: #10b981;
}

input[type="submit"] {
    background-color: #10b981;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #fff;
    color: #10b981;
    cursor: pointer;
}

