<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Products</title>
    <link th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/addProducts.css}">
    <th:block th:replace="includes/head :: head"></th:block>
</head>
<body style="background-color: #1a2530">
<th:block th:replace="includes/adminHeader :: html"></th:block>
<div class="container">
    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form autocomplete="off" th:action="@{/admin/edit/{id}(id=${product.getId()})}" th:object="${product}" class="form" method="post">
                <fieldset>
                    <h1>CREATE PRODUCT</h1>
                    <div class="form-group">
                        <label>Product Name</label>
                        <input type="text" th:field="*{name}" class="form-control input-lg" title="name" autofocus="true" />
                        <div class="alert alert-danger error-alert" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                    </div>
                                        <div class="form-group">
                                            <label>Category</label>
                                            <select class="form-control input-lg" th:field="*{category_id}" name="category.id" autofocus="true">
                                                <option value="0">select</option>
                                                <option th:each="cat : ${categories}" th:value="${cat.id}"
                                                        th:text="${cat.getName()}"></option>
                                            </select>
                                        </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input type="text" th:field="*{description}" class="form-control input-lg" title="description" autofocus="false" />
                        <div class="alert alert-danger error-alert" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
                    </div>
                    <div class="form-group">
                        <label>ImageUrl</label>
                        <input type="text" th:field="*{imageName}" class="form-control input-lg" title="imageUrl" autofocus="false" />
                        <div class="alert alert-danger error-alert" th:if="${#fields.hasErrors('imageName')}" th:errors="*{imageName}"></div>
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input type="search" th:field="*{price}" class="form-control input-lg" title="price" autofocus="false" />
                        <div class="alert alert-danger error-alert" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-plus-square-fill"></i>Enter</button>

                </fieldset>
            </form>
        </div>
    </div>
</div>
<th:block th:replace="includes/pageFooter :: footer"></th:block>
</body>
</html>